extends layout.pug

block content
  section#content
    table
      tr(style="background-color: yellow")
        each country in countries
          td= country
      tr
        each language in languages
          td= language
    h2= title
