extends layout.pug

block content
  section#content
    h2 Welcome, Student!
    form(action='/hello', method='post')
      label Please enter your name here:
        input(type='text', name='username')
      button(type='submit') Submit
    
